name: Check Spelling

on:
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Check spelling with codespell
        uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          check_hidden: false
